<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DSAlgo Testng" thread-count="5" parallel="classes">
<listeners>
		<listener class-name="utilities.ExtentReportUtility"/>
		<listener class-name="Analyzer.MyTransformer"/>
	</listeners>
  <test thread-count="5" name="DSAlgo Testing">
  	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testcases.TC001_StackPageValidation"/>
      <class name="testcases.TC002_GetStartedPageValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
